<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Does this have cool stuff on it yet</span>
  <div class="spacer"></div>
</div>
<!-- Politics -->
<div class="bigSection">
  <h2>Politics</h2>
  <p>Some fun interactables to help you see how fucked you are (in America)</p>

  <div class="card-container">
    <div class="card" (click)="changeId(appConstants.AppId.RichPersonContributionCalculator)">Rich Person Contribution Calculator</div>
    <div class="card" (click)="changeId(appConstants.AppId.VoteImportanceChart)">Vote Importance Chart</div>
    <div class="card" (click)="changeId(appConstants.AppId.NationalCheckbookBalancer)">National Checkbook Balancer</div>
  </div>
  <div>
    <div *ngIf="appId === appConstants.AppId.RichPersonContributionCalculator">
      <app-wealth-contribution-calculator></app-wealth-contribution-calculator>
    </div>
    <div *ngIf="appId === appConstants.AppId.VoteImportanceChart">
      <app-vote-distribution></app-vote-distribution>
    </div>
    <div *ngIf="appId === appConstants.AppId.NationalCheckbookBalancer">
      <app-national-program-balance></app-national-program-balance>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
