a, a:hover {
  text-decoration: none;
}

.background-color {
  background-color: #fbeec1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.justified {
  text-align: justify;
  text-justify: inter-word;
}

.primary-color {
  background-color: #659dbd;
}

.secondary-color {
  background-color: #8d8741;
}

.switch {
  color: #bc986a;
  padding: 15px;
}

.text-light {
  color: #daad86;
}